@import "../../../assets/styles/index.scss";

.hotelItem {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 1px solid $borderBlock;
  padding: 25px;
  margin: 0 0 15px 0;
  border-radius: 10px;

  .item1 {
    width: 560px;

    .name {
      color: $darkGray;
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 6px 0;
    }

    .info {
      display: flex;
      align-items: center;
      margin: 0 0 16px 0;
      .starsBlock {
        margin: 0 15px 0 0;
        .activeStar {
          margin: 0 6px 0 0;
        }
      }

      .dot {
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background: $lightGray;
        margin: 0 8px 0 6px;
      }
      .hotelType {
        color: $placeholderColor;
        font-size: 14px;
        font-weight: 400;
      }
      .reviews {
        color: $placeholderColor;
        font-size: 14px;
        font-weight: 400;
        margin: 0 15px 0 0;
      }
      .country {
        color: $darkGray;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        .geopositionIco {
          position: relative;
          top: 2px;
          margin: 0 8px 0 0;
        }
      }
    }
  }
  .decription {
    width: 560px;
    color: $darkGray;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .item2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .price {
      color: $darkGray;
      font-size: 25px;
      font-family: $PTSans;
      font-weight: 700;
      width: 84px;
    }

    .priceOneDay {
      width: 100%;
      color: $placeholderColor;
      width: 79px;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
.paginatePage {
  width: 100%;
  height: 40px;
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;

  .page {
    margin: 0 35px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .prevBtn {
    margin: 0 50px 0 0;
    color: $darkGray;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  .nextBtn {
    margin: 0 0 0 50px;
    color: $darkGray;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  .link,
  .activeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  .link:hover,
  .activeLink:hover {
    cursor: pointer;
  }
  .activeLink {
    border-radius: 2px;
    background-color: rgba(106, 83, 245, 0.1);
    color: $btnAccept;
  }
  .disabledLink {
    color: #dbdbdb;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}
.emptyHotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 835px;
  height: 475px;
  border: 1px solid $borderBlock;
  .emptyTitle {
    margin: 34px 0 0 0;
    color: $darkGray;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  .emptyText {
    margin: 8px 0 0 0;
    color: $lightGray;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
  .resetBtn {
    border-radius: 10px;
    margin: 23px 0 0 0;
    padding: 14px 60px;
    width: 240px;
    background-color: rgba(106, 83, 245, 0.1);
    border: none;
  }
}
//Добавить переменные для цветов
