@import "../../assets/styles/index.scss";

.formButton {
  width: 324px;
  height: 56px;
  text-align: center;
  border-radius: 15px;
}
.hotelsButton {
  width: 179px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
