@import "../../assets/styles/index.scss";

.formButton {
  width: 324px;
  height: 56px;
  text-align: center;
  border-radius: 15px;
}
.hotelsButton {
  width: 179px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
.reserve {
  margin: 27px 0 0 0;
  position: relative;
  .btnBackground,
  .btnBackgroundReserved {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    border-radius: 10px;
  }
  .btnBackground {
    background: #6a53f5;
  }
  .btnBackgroundReserved {
    background: #00bb6d;
  }
  .btnIco {
    position: relative;
    margin: 0 10px 0 0;
  }
  .btnText {
    position: relative;
    color: #6a53f5;
    font-family: $PTSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 20;
  }
  .reservedBtnText {
    color: #00bb6d;
    font-size: 14px;
    font-weight: 400;
  }
}
