@import "../../assets/styles/index.scss";
aside {
  display: flex;
  flex-direction: column;
  width: 325px;
  h6 {
    color: $darkGray;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 14px 0;
  }
  label {
    margin-left: 16px;
  }

  .item {
    margin: 12px 0 12px;
  }
  input[type="checkbox"] {
    appearance: none;
  }

  input[type="checkbox"]::after {
    position: relative;
    display: block;
    left: 0px;
    top: 5px;
    width: 18px;
    height: 18px;
    border: 1px solid $checkboxBorderColor;
    content: "";
    border-radius: 4px;
    background: $white;
  }

  input[type="checkbox"]:checked::after {
    background: url("../../assets/svg/galochka.svg") $lighGreen no-repeat center;
  }

  .formBlock {
    border: 1px solid $borderBlock;
    border-radius: 8px;
    padding: 14px 20px;
    width: 100%;
    margin: 0 0 26px 0;
  }

  .countries {
    position: relative;
    display: flex;
    flex-direction: column;
    .searchIco {
      position: absolute;
      top: 48px;
      left: 20px;
      width: 16px;
      height: 16px;
    }

    .country {
      margin: 0 0 14px 0;
    }

    .search {
      border: 1px $borderBlock solid;
      border-radius: 10px;
      height: 50px;
      color: $placeholderColor;
      font-family: "PT Sans";
      padding: 14px 0 15px 46px;
      margin: 0 0 10px 0;
    }
  }

  .hotelType {
    width: 100%;

    .typeItem {
      background: $backgroundBlockColor;
      position: relative;
      height: 120px;

      .item {
        margin: 0 0 32px 0;
      }
      .hotelLine {
        position: absolute;
        width: 284px;
        border-bottom: 1px solid $borderBlock;
        top: 60px;
      }
    }
  }

  .price {
    width: 100%;
    .priceItems {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      input:nth-child(1) {
        margin: 0 10px 0 0;
      }
      input {
        border-radius: 8px;
        width: 148px;
        height: 50px;
        padding: 14px 0 15px 20px;
        border: 1px solid $borderBlock;
      }
      .priceLine {
        display: flex;
        flex-direction: row;
        min-width: 10px;
        height: 0px;
        border-top: 1px solid $lineColor;
        margin: 0 10px 0 0;
      }
    }
    .rangeBlock {
      margin: 10px 0 0 0;
      .horizontalSlider {
        position: relative;
        height: 26px;
        overflow-x: hidden;
        .exampleThumb {
          position: absolute;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          border: 2px solid $lighGreen;
          background-color: $white;
        }
        .exampleTrack {
          position: absolute;
          top: 10px;
          width: 400px;
          height: 2px;
          background-color: $lighGreen;
        }
      }
    }
  }

  .btnsFilter {
    margin: 40px 0 0 0;

    .accept {
      background: $btnAccept;
      border: none;
      margin: 0 0 15px 0;
      color: $white;
    }

    .reset {
      border: 1px solid $borderBlock;
      background: none;
      color: $darkGray;
    }
    .exitIco {
      margin: 0 10px 0 0;
      width: 10px;
      height: 10px;
    }
  }
}
