.hotels {
    margin: 32px 0 0 40px;
    width: 835px;

    .hotelItem {
        display: flex;
        justify-content: space-between;
        position: relative;
        border: 1px solid #EAEAEA;
        padding: 25px;
        margin: 0 0 15px 0;
        border-radius: 10px;

        .item1 {
            width: 560px;
        }

        .item2 {
            border: 2px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;

            h4 {
                border: 1px solid red;
                color: #3A3A3A;
                font-size: 25px;
                font-family: PT Sans;
                font-weight: 700;
                width: 84px;
            }

            span {
                margin: 0 0 0 5px;
                width: 100%;
                display: block;
                color: #868686;
                width: 79px;
                font-size: 12px;
                font-family: PT Sans;
                font-weight: 400;
            }
        }

        h5 {
            color: #3A3A3A;
            font-size: 20px;
            font-family: PT Sans;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0 0 6px 0;
        }

        .info {
            display: flex;
            margin: 0 0 16px 0;
        }

        p {
            width: 560px;
            color: #3A3A3A;
            font-size: 16px;
            font-family: PT Sans;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }



    }


}