@import "../../assets/styles/index.scss";

.reserve {
  width: 179px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin: 27px 0 0 0;
  position: relative;
  .btnBackground,
  .btnBackgroundReserved {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    border-radius: 10px;
  }
  .btnBackground {
    background: $btnAccept;
  }
  .btnBackgroundReserved {
    background: $lighGreen;
  }
  .btnIco {
    position: relative;
    margin: 0 10px 0 0;
  }
  .btnText {
    position: relative;
    color: $btnAccept;
    font-family: $PTSans;
    font-size: 14px;
    font-weight: 400;
    z-index: 20;
  }
  .reservedBtnText {
    color: $lighGreen;
    font-size: 14px;
    font-weight: 400;
  }
}
